<div class="chat-conteiner">
    <div class="chat-left"></div>
    <div class="chat" >
        <div class="messages" #Messages>
            <div *ngFor="let message of GetMessages()" #item>
                <app-message [message]="message"></app-message>
            </div>
        </div>

        <div class="send-message">
            <textarea rows="4" class="text" [(ngModel)]="text" (keyup)="SendMessageIfEnter($event)" #MessageTextInput> </textarea>
            <!-- <button class="send" mat-raised-button (click)="SendMessage()">send</button> -->
        </div>
    </div>
    <div class="chat-right"></div>
</div>