<div class="chat-conteiner">
    <div class="chat-left"></div>
    <div class="chat" >
        <div class="messages" #messages (scroll)="scrollMessages($event)">
            <div *ngFor="let message of GetMessages()" #message>
                <app-message [message]="message"></app-message>
            </div>
        </div>

        <div *ngIf="canCancel" class="chat-event">

            <button class="cancel-event" (click)="CanselEvent()"><mat-icon>close</mat-icon></button>
        </div>
        <div class="send-message">
            <textarea rows="4" class="text" [(ngModel)]="text" (keypress)="SendMessageIfEnter($event)"> </textarea> <!-- #MessageTextInput -->      
        </div>
    </div>
    <div class="chat-right"></div>
</div>