@import "/src/assets/styles/variables";

.message-container {
    margin-right: 1.5rem;
    display: inline-flex;
    max-width: 70%;
    cursor: pointer;
}

:host {
    display: flex;
    margin-bottom: 0.2rem;
}

.row-reverse {
    flex-direction: row-reverse;
}

.contact {
    align-self: flex-start;
}

.text-box {
    width: 100%;
    flex: 1 1 auto;
}

.text
 {
    cursor: pointer;
    outline: none !important;
    resize: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    border: 1px;
    border-color: $primary500;
    border-style: solid;
    margin: 0.2rem;
    padding: 0.4rem;
    border-radius: 0.6rem;
    word-break: break-word;
}

.date {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    font-size: 0.7rem;
}