.message-container{
    margin: 0.3rem;
    display: inline-flex;  
}

:host{
    display: flex;
}

.row-reverse{
    flex-direction:row-reverse;
}

.contact{
    align-self: flex-start;
    font-weight: bold;
}

.text{
    min-width: 3rem;
    border: 1px;
    border-color: #673ab7;
    border-style: solid;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 0.6rem;
}

.date{
    display: flex;
    flex-direction:row-reverse;
    align-self: flex-end;
    font-size: 0.7rem;
}