<div class="message-container">
    <!--  [ngClass]="{'row-reverse':my}" -->
    <div class="contact" *ngIf="!my">{{message.contactName}}</div> <!-- *ngIf="!my" -->
    <div>
        <div class="text" (contextmenu)="MessageOptions($event)" (click)="MessageOptions($event)" [matMenuTriggerFor]="messageOptions">
            {{message.text}}
        </div>
        <div class="date">
            {{message.date | date:'HH:mm'}}
            <!-- MMM d HH:mm -->
        </div>
    </div>
    <span>&nbsp;</span>
    <mat-menu #messageOptions="matMenu">
        <button mat-menu-item *ngIf="my"><mat-icon>edit</mat-icon>edit</button> <!-- mat-menu-item  -->
        <button mat-menu-item><mat-icon>comment</mat-icon>comment</button>
        <button mat-menu-item><mat-icon>send</mat-icon>send</button>
        <button mat-menu-item *ngIf="my"><mat-icon>delete</mat-icon>delete</button>
        <button mat-menu-item><mat-icon>delete_outline</mat-icon>delete for me</button>
    </mat-menu>
</div>