@import "/src/assets/styles/variables";

a{
    width: 100%;  
}

.mdc-button__label{
    text-align: left;
}

:host{
    display: block;
}

.active{
    border: 1px;
    border-color: $primary500;
    border-style: solid;  
}