@import "/src/assets/styles/variables";

a{
    width: 100%;  
}

/* .mdc-button{
    display: flex;
    justify-content: flex-start; 
} */

:host{
    display: block;
}

.active{
    border: 1px;
    border-color: $primary500;
    border-style: solid;  
}