<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click) = "sidenavOpened = !sidenavOpened"> <mat-icon>menu</mat-icon></button>
    <span class="spacer"></span>
    <input  #userNameInput  type="text" [hidden] = "authService.IsAuthenticated()" placeholder="User name">
    <input  #passwordNameInput  type="password" [hidden] = "authService.IsAuthenticated()" placeholder="Password">
    <button *ngIf="!authService.IsAuthenticated()" mat-raised-button color = "accent" (click)="Login(userNameInput.value,passwordNameInput.value)">Login</button>
    <button *ngIf="authService.IsAuthenticated()" mat-raised-button color = "accent" (click)="Logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fullscreen>
  <mat-sidenav [mode]="modeSide?'side':'over'" [(opened)]="sidenavOpened">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contacts
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-contact-icon [contact]="contact" *ngFor="let contact of this.messengerState.GetUser()?.contacts"></app-contact-icon>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chats
          </mat-panel-title>
        </mat-expansion-panel-header>
       <!--  <button class="sidenav_button" mat-button routerLink="documents/BatchesOfGoodsInWarehouseDocument/income">Income</button> -->
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>