<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click) = "sidenavOpened = !sidenavOpened"> <mat-icon>menu</mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fullscreen>
  <mat-sidenav [mode]="modeSide?'side':'over'" [(opened)]="sidenavOpened">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Directories
          </mat-panel-title>
        </mat-expansion-panel-header>
<!--         <button class="sidenav_button" mat-button routerLink="/directories/organization">Organization</button>
        <button class="sidenav_button" mat-button routerLink="/directories/warehouse">Warehouse</button>
        <button class="sidenav_button" mat-button routerLink="/directories/nomenclature">Nomenclature</button> -->
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Documents
          </mat-panel-title>
        </mat-expansion-panel-header>
       <!--  <button class="sidenav_button" mat-button routerLink="documents/BatchesOfGoodsInWarehouseDocument/income">Income</button> -->
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>