mat-sidenav-container{
    top: 62px !important;
  }
  
  mat-sidenav{
    min-width: 240px;
  }
  
  .sidenav_button{
    display: block;
    width: 100%;
    text-align: left;
  }

  .spacer {
    flex: 1 0 auto;
  }

  div:hover{
    margin: 0.3rem;
  }