<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click) = "sidenavOpened = !sidenavOpened"> <mat-icon>menu</mat-icon></button>
    <span class="spacer"></span>
    <mat-chip-list>
      <mat-chip color="accent" routerLink="user" *ngIf="authService.IsAuthenticated()">
        <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg"/>
        {{messengerState.GetUser()?.name}}
      </mat-chip>
    </mat-chip-list>
    <span>&nbsp;&nbsp;</span>
    <button *ngIf="authService.IsAuthenticated()" mat-raised-button color = "accent" (click)="Logout()">Logout</button> 
    <button *ngIf="!authService.IsAuthenticated()" routerLink="login" mat-raised-button color = "accent">Login</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fullscreen>
  <mat-sidenav [mode]="modeSide?'side':'over'" [(opened)]="sidenavOpened">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contacts
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-contacts-search></app-contacts-search>
        <app-contact-icon [contact]="contact" *ngFor="let contact of this.messengerState.GetUser()?.contacts"></app-contact-icon>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chats
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-chat-icon [chat]="chat"  *ngFor="let chat of this.messengerState.GetUser()?.chats"></app-chat-icon>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>
  <mat-sidenav-content>
<!--     <div style="display: flex;">
      <div style="width: 25%;"></div>
      <div style="width: 50%;">
        <router-outlet></router-outlet>
      </div>
      <div style="width: 25%;"></div>
    </div> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>