@import "/src/assets/styles/variables";

.message-container{
    margin-right: 1.5rem;
    display: inline-flex;   
    max-width: 100%; 
    cursor:pointer;
}

.contact{
    align-self: flex-start;
}
/* .commented-message{

        background-color: $primary100;
        border-radius: 0.6rem;
    } */

    .text,.text:focus {
        cursor:pointer;
        outline: none !important;
        resize: none;
        //width: 15rem;
        //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
        border: 1px;
        //border-color: $primary500;
        //border-style: solid;
        background-color: $primary100;
        margin: 0.2rem;
        padding: 0.4rem;
        border-radius: 0.6rem;
    }
    
    .date{
        display: flex;
        flex-direction:row-reverse;
        align-self: flex-end;
        font-size: 0.7rem;
    }