@import "/src/assets/styles/variables";

.message-container {
    margin-bottom: 0.6rem;
    max-width: 100%;    
    cursor: pointer;
    background-color: $primary100;
    border-radius: 0.6rem;
}

.contact {
    align-self: flex-start;
}

.text
{
    cursor: pointer;
    outline: none !important;
    resize: none;
    border: 1px; 
    margin: 0.2rem;
    padding: 0.2rem;
    word-break: break-word;
}

.date {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
    font-size: 0.7rem;
}