<form [formGroup]="contactSearchForm">
    <div class="flex-conteiner">
        <mat-form-field class="search-input" appearance="standard">
            <mat-label>Search new</mat-label>
            <input class="search-input" matInput placeholder="min 3 char" formControlName="name" (input)="NavigateSearchResult()" #searchInput>
        </mat-form-field>
<!--         <button type="submit" mat-button color="primary">
            <mat-icon matSuffix>search</mat-icon>
        </button> -->
    </div>
</form>