<mat-card> <!--  *ngIf="SavedContact()" -->
  <mat-card-title>{{contact?.name}}</mat-card-title>
  <mat-card-subtitle>Full name:<span>&nbsp;&nbsp;</span>{{contact?.firstName}} {{contact?.lastName}}</mat-card-subtitle>
  <mat-card-subtitle>Phone number: <span>&nbsp;&nbsp;</span>{{contact?.phoneNumber}}</mat-card-subtitle>
  <mat-card-actions> 
    <button *ngIf="!saved" mat-raised-button color="primary" (click)="SaveContact()">Save</button>
    <ng-container *ngIf="saved">
      <button mat-raised-button color="primary" (click)="OpenChat()">Open chat</button>
      <button mat-raised-button color="warn" (click)="DeleteContact()" >Delete contact</button> 
    </ng-container>
  </mat-card-actions>
</mat-card>