$primary50: #EDE7F6;
$primary100: #D1C4E9;
$primary200: #B39DDB;
$primary300: #9575CD;
$primary400:#7E57C2;
$primary500: #673AB7;
$primary600:#5E35B1;
$primary700: #512DA8;
$primary800:#4527A0;
$primary900:#311B92;
$primaryA100:#B388FF;
$primaryA200:#7C4DFF;
$primaryA400:#651FFF;
$primaryA700:#6200EA;

$accent50: #FFF8E1;
$accent100: #FFECB3;
$accent200: #FFE082;
$accent300: #FFD54F;
$accent400:#FFCA28;
$accent500: #FFC107;
$accent600:#FFB300;
$accent700: #FFA000;
$accent800:#FF8F00;
$accent900:#FF6F00;
$accentA100:#FFE57F;
$accentA200:#FFD740;
$accentA400:#FFC400;
$accentA700:#FFAB00;

$warm50: #FFF3E0;
$warm100: #FFE0B2;
$warm200: #FFCC80;
$warm300: #FFB74D;
$warm400:#FFA726;
$warm500: #FF9800;
$warm600:#FB8C00;
$warm700: #F57C00;
$warm800:#EF6C00;
$warm900:#E65100;
$warmA100:#FFD180;
$warmA200:#FFAB40;
$warmA400:#FF9100;
$warmA700:#FF6D00;